.grid {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.row {
  display: flex;
}

.empty {
  width: 20px;
  height: 20px;
  cursor: default;
}

@media (max-width: 639px) {
  .empty {
    width: 15px;
    height: 15px;
  }
}