.map {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.tile {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
}

.binaryTile {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px ridge rgb(255, 159, 25);
}

.wall {
  background-image: url("/tiles/wall.png");
}

.floor {
  background-image: url("/tiles/grass.png");
}

.zelda {
  background-image: url('/tiles/zelda.png'), url('/tiles/grass.png');
  background-size: 95%, cover;
  background-position: 0 0, center center;
}

.key {
  background-image: url('/tiles/key.png'), url('/tiles/grass.png');
  background-size: 80%, cover;
  background-position: 50% 50%, center center;
}

.door {
  background-image: url('/tiles/door.png'), url('/tiles/wall.png');
  background-size: 60%, cover;
  background-position: 50% 50%, center center;
}

.monster1 {
  background-image: url('/tiles/monster1.png'), url('/tiles/grass.png');
  background-size: 80%, cover;
  background-position: 50% 50%, center center;
}

.monster2 {
  background-image: url('/tiles/monster3.png'), url('/tiles/grass.png');
  background-size: 90%, cover;
  background-position: 50% 50%, center center;
}

.monster3 {
  background-image: url('/tiles/monster3.gif'), url('/tiles/grass.png');
  background-size: 220%, cover;
  background-position: 50% 50%, center center;
}

@media (max-width: 639px) {
  .tile {
    width: 21px;
    height: 21px;
  }
}